<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Map Design Tool</Name><AddInID>{58dd0af5-caba-435b-90c4-7092cbab2345}</AddInID><Description>A tool to assist non-expert GIS users in map design</Description><Version>1</Version><Image>Images\Pin.png</Image><Author /><Company>Amy Wootton</Company><Date>08/17/2017</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Tool_addin.py" namespace="Tool_addin"><ArcMap>
    <Commands>
        <Button caption="Design" category="Map Design Tool" class="btnDesign" id="Tool_addin.button5" image="Images\Design1_1.png" message="" tip="Design the map"><Help heading="" /></Button>
        <Button caption="Help" category="Map Design Tool" class="btnHelp" id="Tool_addin.button8" image="Images\Help_2.png" message="" tip="Help and support"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Map Design Toolbar" category="Map Design Tool" id="Tool_addin.toolbar" showInitially="true"><Items><Button refID="Tool_addin.button5" /><Button refID="Tool_addin.button8" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>